In [1]:
# Data Wrangling 
import numpy as np
import pandas as pd

## Model evaluators
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report,accuracy_score

## Models to be used
from xgboost import XGBClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

# Remove unnecessary warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('training.csv')
df.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2018-11-15T02:18:49Z,2,0
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2018-11-15T02:19:08Z,2,0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,500,2018-11-15T02:44:21Z,2,0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,utility_bill,ChannelId_3,20000.0,21800,2018-11-15T03:32:55Z,2,0
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,644,2018-11-15T03:34:21Z,2,0

In [3]:
test = pd.read_csv('test.csv')
test.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy
0,TransactionId_50600,BatchId_35028,AccountId_2441,SubscriptionId_4426,CustomerId_2857,UGX,256,ProviderId_5,ProductId_3,airtime,ChannelId_3,1000.0,1000,2019-02-13T10:01:40Z,4
1,TransactionId_95109,BatchId_45139,AccountId_3439,SubscriptionId_2643,CustomerId_3874,UGX,256,ProviderId_5,ProductId_15,financial_services,ChannelId_3,2000.0,2000,2019-02-13T10:02:12Z,2
2,TransactionId_47357,BatchId_74887,AccountId_4841,SubscriptionId_3829,CustomerId_2857,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-50.0,50,2019-02-13T10:02:30Z,2
3,TransactionId_28185,BatchId_11025,AccountId_2685,SubscriptionId_4626,CustomerId_3105,UGX,256,ProviderId_5,ProductId_10,airtime,ChannelId_3,3000.0,3000,2019-02-13T10:02:38Z,4
4,TransactionId_22140,BatchId_29804,AccountId_4841,SubscriptionId_3829,CustomerId_3105,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-60.0,60,2019-02-13T10:02:58Z,2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95662 entries, 0 to 95661
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   TransactionId         95662 non-null  object
 1   BatchId               95662 non-null  object
 2   AccountId             95662 non-null  object
 3   SubscriptionId        95662 non-null  object
 4   CustomerId            95662 non-null  object
 5   CurrencyCode          95662 non-null  object
 6   CountryCode           95662 non-null  int64
 7   ProviderId            95662 non-null  object
 8   ProductId             95662 non-null  object
 9   ProductCategory       95662 non-null  object
 10  ChannelId             95662 non-null  object
 11  Amount                95662 non-null  float64
 12  Value                 95662 non-null  int64
 13  TransactionStartTime  95662 non-null  object
 14  PricingStrategy       95662 non-null  int64
 15  FraudResult           95662 non-null  int64
dtypes: float64(1), int64(4), object(11)
memory usage: 11.7+ MB

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45019 entries, 0 to 45018
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   TransactionId         45019 non-null  object
 1   BatchId               45019 non-null  object
 2   AccountId             45019 non-null  object
 3   SubscriptionId        45019 non-null  object
 4   CustomerId            45019 non-null  object
 5   CurrencyCode          45019 non-null  object
 6   CountryCode           45019 non-null  int64
 7   ProviderId            45019 non-null  object
 8   ProductId             45019 non-null  object
 9   ProductCategory       45019 non-null  object
 10  ChannelId             45019 non-null  object
 11  Amount                45019 non-null  float64
 12  Value                 45019 non-null  int64
 13  TransactionStartTime  45019 non-null  object
 14  PricingStrategy       45019 non-null  int64
dtypes: float64(1), int64(3), object(11)
memory usage: 5.2+ MB

## Data Cleaning

In [6]:
df.isnull().sum()

TransactionId           0
BatchId                 0
AccountId               0
SubscriptionId          0
CustomerId              0
CurrencyCode            0
CountryCode             0
ProviderId              0
ProductId               0
ProductCategory         0
ChannelId               0
Amount                  0
Value                   0
TransactionStartTime    0
PricingStrategy         0
FraudResult             0
dtype: int64

In [7]:
test.isnull().sum()

TransactionId           0
BatchId                 0
AccountId               0
SubscriptionId          0
CustomerId              0
CurrencyCode            0
CountryCode             0
ProviderId              0
ProductId               0
ProductCategory         0
ChannelId               0
Amount                  0
Value                   0
TransactionStartTime    0
PricingStrategy         0
dtype: int64

In [8]:
df.drop(['AccountId', 'BatchId', 'CurrencyCode', 'CountryCode', 'CustomerId', 'ProductId', 'SubscriptionId', 'TransactionId', 'ProviderId', 'ChannelId'], axis=1, inplace=True)
test.drop(['AccountId', 'BatchId', 'CurrencyCode', 'CountryCode', 'CustomerId', 'ProductId', 'SubscriptionId', 'TransactionId', 'ProviderId', 'ChannelId'], axis=1, inplace=True)

In [9]:
#Changing travel_date data type to date
df["TransactionStartTime"] = pd.to_datetime(df["TransactionStartTime"], infer_datetime_format = True)

#Changing travel_data to year, month and day of the week
df["days of week"] = df["TransactionStartTime"].dt.dayofweek
df["year"] = df["TransactionStartTime"].dt.year
df["month"] = df["TransactionStartTime"].dt.month

In [10]:
#Changing travel_date data type to date
test["TransactionStartTime"] = pd.to_datetime(test["TransactionStartTime"], infer_datetime_format = True)

#Changing travel_data to year, month and day of the week
test["days of week"] = test["TransactionStartTime"].dt.dayofweek
test["year"] = test["TransactionStartTime"].dt.year
test["month"] = test["TransactionStartTime"].dt.month

In [11]:
df.head()

,ProductCategory,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult,days of week,year,month
0,airtime,1000.0,1000,2018-11-15 02:18:49,2,0,3,2018,11
1,financial_services,-20.0,20,2018-11-15 02:19:08,2,0,3,2018,11
2,airtime,500.0,500,2018-11-15 02:44:21,2,0,3,2018,11
3,utility_bill,20000.0,21800,2018-11-15 03:32:55,2,0,3,2018,11
4,financial_services,-644.0,644,2018-11-15 03:34:21,2,0,3,2018,11

In [12]:
test.head()

,ProductCategory,Amount,Value,TransactionStartTime,PricingStrategy,days of week,year,month
0,airtime,1000.0,1000,2019-02-13 10:01:40,4,2,2019,2
1,financial_services,2000.0,2000,2019-02-13 10:02:12,2,2,2019,2
2,financial_services,-50.0,50,2019-02-13 10:02:30,2,2,2019,2
3,airtime,3000.0,3000,2019-02-13 10:02:38,4,2,2019,2
4,financial_services,-60.0,60,2019-02-13 10:02:58,2,2,2019,2

In [13]:
df['CreditTransc'] = df["Amount"][df['Amount'] >=0]
df['DebitTransc'] = df["Amount"][df['Amount'] <=0]

In [14]:
test['CreditTransc'] = test["Amount"][test['Amount'] <=0]
test['DebitTransc'] = test["Amount"][test['Amount'] <=0]

In [15]:
df['CreditTransc'].fillna(0, inplace=True)
df['DebitTransc'].fillna(0, inplace=True)
test['CreditTransc'].fillna(0, inplace=True)
test['DebitTransc'].fillna(0, inplace=True)

In [16]:
df.drop(['Amount', 'TransactionStartTime'], axis = 1, inplace = True)
test.drop(['Amount', 'TransactionStartTime'], axis = 1, inplace = True)

In [17]:
df = pd.get_dummies(df, columns = ['ProductCategory'])
test = pd.get_dummies(test, columns = ['ProductCategory'])

In [18]:
df.head()

,Value,PricingStrategy,FraudResult,days of week,year,month,CreditTransc,DebitTransc,ProductCategory_airtime,ProductCategory_data_bundles,ProductCategory_financial_services,ProductCategory_movies,ProductCategory_other,ProductCategory_ticket,ProductCategory_transport,ProductCategory_tv,ProductCategory_utility_bill
0,1000,2,0,3,2018,11,1000.0,0.0,1,0,0,0,0,0,0,0,0
1,20,2,0,3,2018,11,0.0,-20.0,0,0,1,0,0,0,0,0,0
2,500,2,0,3,2018,11,500.0,0.0,1,0,0,0,0,0,0,0,0
3,21800,2,0,3,2018,11,20000.0,0.0,0,0,0,0,0,0,0,0,1
4,644,2,0,3,2018,11,0.0,-644.0,0,0,1,0,0,0,0,0,0

In [19]:
x = df.drop(['FraudResult'], axis=1)
y = df['FraudResult']

In [44]:
x_train, x_test,y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 42)

In [45]:
rf = RandomForestClassifier()
rf.fit(x_train,y_train)
pre = rf.predict(x_test)

In [46]:
cm = confusion_matrix(y_test, pre)
print(cm)
print('\n')
print(classification_report(y_test, pre))

[[23863     6]
 [    4    43]]


              precision    recall  f1-score   support

           0       1.00      1.00      1.00     23869
           1       0.88      0.91      0.90        47

    accuracy                           1.00     23916
   macro avg       0.94      0.96      0.95     23916
weighted avg       1.00      1.00      1.00     23916

In [47]:
rf.score(x_test, y_test)

0.999581869877906

In [48]:
print (f'Mean Absolute Error =', mean_absolute_error(pre, y_test))
rmse = mean_squared_error(y_test, pre, squared=False)
print(f"Root Mean Squared Error = {rmse / 1e6:.3} Mbit/s")

Mean Absolute Error = 0.0004181301220939957
Root Mean Squared Error = 2.04e-08 Mbit/s

In [49]:
from sklearn.model_selection import cross_validate, cross_val_score

xgb = XGBClassifier(
    n_jobs=-1,
    random_state=101,
    max_depth=5,
    n_estimators=400,
)
xgb.fit(x_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=5, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=400,
              n_jobs=-1, num_parallel_tree=1, predictor='auto',
              random_state=101, reg_alpha=0, reg_lambda=1, ...)

In [50]:
predict = xgb.predict(x_test)
xgb.score(x_test, y_test)

0.9996236828901154

In [51]:
cm = confusion_matrix(y_test, predict)
print(cm)
print('\n')
print(classification_report(y_test, predict))

[[23865     4]
 [    5    42]]


              precision    recall  f1-score   support

           0       1.00      1.00      1.00     23869
           1       0.91      0.89      0.90        47

    accuracy                           1.00     23916
   macro avg       0.96      0.95      0.95     23916
weighted avg       1.00      1.00      1.00     23916

In [52]:
print (f'Mean Absolute Error =', mean_absolute_error(predict, y_test))
rmse = mean_squared_error(y_test, predict, squared=False)
print(f"Root Mean Squared Error = {rmse / 1e6:.3} Mbit/s")

Mean Absolute Error = 0.0003763171098845961
Root Mean Squared Error = 1.94e-08 Mbit/s

In [53]:
test_pred = xgb.predict(test)
test['FraudResult'] = test_pred
test.head(10)

,Value,PricingStrategy,days of week,year,month,CreditTransc,DebitTransc,ProductCategory_airtime,ProductCategory_data_bundles,ProductCategory_financial_services,ProductCategory_movies,ProductCategory_retail,ProductCategory_ticket,ProductCategory_transport,ProductCategory_tv,ProductCategory_utility_bill,FraudResult
0,1000,4,2,2019,2,0.0,0.0,1,0,0,0,0,0,0,0,0,0
1,2000,2,2,2019,2,0.0,0.0,0,0,1,0,0,0,0,0,0,0
2,50,2,2,2019,2,-50.0,-50.0,0,0,1,0,0,0,0,0,0,0
3,3000,4,2,2019,2,0.0,0.0,1,0,0,0,0,0,0,0,0,0
4,60,2,2,2019,2,-60.0,-60.0,0,0,1,0,0,0,0,0,0,0
5,1000,2,2,2019,2,0.0,0.0,1,0,0,0,0,0,0,0,0,0
6,50,2,2,2019,2,-50.0,-50.0,0,0,1,0,0,0,0,0,0,0
7,1000,1,2,2019,2,0.0,0.0,1,0,0,0,0,0,0,0,0,0
8,50,2,2,2019,2,-50.0,-50.0,0,0,1,0,0,0,0,0,0,0
9,1161,0,2,2019,2,0.0,0.0,0,0,1,0,0,0,0,0,0,0